n8n/workflows/01-so-attainment.workflow.json
{
  "id": "wf_so_attainment_001",
  "versionId": "wf_so_attainment_001_v2",
  "name": "ABET SO Attainment API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "so-attainment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "WebhookSoAttainment",
      "webhookId": "so-attainment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item=$input.first()||{json:{}};const payload=item.json||{};const headers=payload.headers||{};const expected=String($env.ABET_API_KEY||'').trim();const incoming=String(headers['x-api-key']??headers['X-Api-Key']??'').trim();if(!expected||incoming!==expected){return[{json:{status:'error',message:'Unauthorized: invalid x-api-key'}}];}const query=payload.query||{};const term=String(query.term||'2242').trim();const program=String(query.program||'CSE').trim().toUpperCase();const threshold=Number.parseFloat(String(query.threshold||'70'));if(!Number.isFinite(threshold)||threshold<=0||threshold>100){return[{json:{status:'error',message:'threshold must be between 1 and 100'}}];}const PASS=new Set(['A+','A','A-','B+','B','B-','C+','C']);const {Client}=require('pg');const client=new Client({host:$env.DB_POSTGRESDB_HOST||'postgres',port:Number($env.DB_POSTGRESDB_PORT||5432),database:$env.DB_POSTGRESDB_DATABASE,user:$env.DB_POSTGRESDB_USER,password:$env.DB_POSTGRESDB_PASSWORD});await client.connect();try{let basis='assessment_components';let results=[];const assessmentSql=`WITH per_student_so AS ( SELECT s.student_id,m.so_number,AVG(s.score_percent) AS avg_score FROM assessment_scores s JOIN assessment_so_mapping m ON s.course_code=m.course_code AND s.program=m.program AND UPPER(s.assessment_name)=UPPER(m.assessment_name) WHERE s.program=$1 AND s.term=$2 GROUP BY s.student_id,m.so_number ) SELECT so_number,COUNT(*)::INT AS students_assessed,COUNT(*) FILTER (WHERE avg_score >= $3)::INT AS students_attained FROM per_student_so GROUP BY so_number ORDER BY so_number`;const assessmentRes=await client.query(assessmentSql,[program,term,threshold]);if(assessmentRes.rows.length){results=assessmentRes.rows.map((row)=>{const so=Number.parseInt(String(row.so_number),10);const assessed=Number.parseInt(String(row.students_assessed||0),10);const attained=Number.parseInt(String(row.students_attained||0),10);const rate=assessed?attained/assessed:0;const attainment_rate=Math.round(rate*1000)/10;const meets_threshold=rate>=(threshold/100);return{so_label:`SO${so}`,so_number:so,students_assessed:assessed,students_attained:attained,attainment_rate,meets_threshold,status:meets_threshold?'ACHIEVED':'NOT_MET'};});}else{basis='course_grade_fallback';const legacySql=`SELECT g.student_id,g.grade,m.so_number FROM student_grades g JOIN so_mapping m ON g.course_code=m.course_code AND m.program=$1 WHERE g.term=$2 AND m.program=$1 ORDER BY m.so_number,g.student_id`;const legacyRes=await client.query(legacySql,[program,term]);const groups=new Map();for(const row of legacyRes.rows){const so=Number.parseInt(String(row.so_number),10);const sid=String(row.student_id||'').trim();const grade=String(row.grade||'').trim().toUpperCase();if(!Number.isFinite(so)||!sid){continue;}if(!groups.has(so)){groups.set(so,{assessed:new Set(),attained:new Set()});}const g=groups.get(so);g.assessed.add(sid);if(PASS.has(grade)){g.attained.add(sid);}}results=[...groups.entries()].sort((a,b)=>a[0]-b[0]).map(([so,g])=>{const assessed=g.assessed.size;const attained=g.attained.size;const rate=assessed?attained/assessed:0;const attainment_rate=Math.round(rate*1000)/10;const meets_threshold=rate>=(threshold/100);return{so_label:`SO${so}`,so_number:so,students_assessed:assessed,students_attained:attained,attainment_rate,meets_threshold,status:meets_threshold?'ACHIEVED':'NOT_MET'};});}if(results.length){const upsert=`INSERT INTO so_attainment (term,program,so_number,attainment_rate,students_assessed,students_attained,meets_threshold) SELECT $1,$2,r.so_number,r.attainment_rate,r.students_assessed,r.students_attained,r.meets_threshold FROM json_to_recordset($3::json) AS r(so_number INT,attainment_rate FLOAT,students_assessed INT,students_attained INT,meets_threshold BOOLEAN) ON CONFLICT (term,program,so_number) DO UPDATE SET attainment_rate=EXCLUDED.attainment_rate,students_assessed=EXCLUDED.students_assessed,students_attained=EXCLUDED.students_attained,meets_threshold=EXCLUDED.meets_threshold,computed_at=NOW();`;await client.query(upsert,[term,program,JSON.stringify(results)]);}const overall_avg=results.length?Math.round((results.reduce((s,r)=>s+r.attainment_rate,0)/results.length)*10)/10:0;return[{json:{status:'success',term,program,threshold,basis,overall_avg,sos_achieved:results.filter((r)=>r.meets_threshold).length,sos_total:results.length,compliant:results.length?results.every((r)=>r.meets_threshold):false,results,computed_at:new Date().toISOString()}}];}finally{await client.end();}"
      },
      "id": "2",
      "name": "Compute SO Attainment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "x-api-key, Content-Type"
              }
            ]
          }
        }
      },
      "id": "3",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        840,
        300
      ]
    }
  ],
  "connections": {
    "WebhookSoAttainment": {
      "main": [
        [
          {
            "node": "Compute SO Attainment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute SO Attainment": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false,
  "meta": {}
}
